NHIỆM VỤ 2: TRUY VẤN VÀ THỐNG KÊ MÔ TẢ

In [1]:
import pandas as pd
df_patient = pd.read_csv("../data_clean/patient_info_clean.csv")
df_reaction = pd.read_csv("../data_clean/reaction_log_clean.csv")
df_vaccine = pd.read_csv("../data_clean/vaccination_record_clean.csv")

In [6]:
#1: ĐẾM SỐ BỆNH NHÂN THEO NHÓM TUỔI
df_patient['age_group'].value_counts().reset_index(name='số bệnh nhân')

  age_group  số bệnh nhân
0     18-49            12
1      6-17            11
2       50+            10
3       0-5             7

In [82]:
#2: TÌM BỆNH NHÂN ĐÃ TIÊM TỪ 2 LOẠI VẮC XIN TRỞ LÊN
df_vaccine.groupby("patient_id")["vaccine_type"].nunique().reset_index(name="so_loai_vaccine").query("so_loai_vaccine >= 2")

   patient_id  so_loai_vaccine
0       BN500                3
1       BN501                3
4       BN504                2
10      BN512                3
11      BN513                2
15      BN517                2
19      BN522                2
20      BN523                2
24      BN527                2
25      BN528                2
30      BN535                2
31      BN537                2
32      BN538                2

In [80]:
#3: THỐNG KÊ SỐ LẦN TIÊM THEO LOẠI VẮC XIN
df_vaccine.groupby('vaccine_type').size().reset_index(name=('số lần tiêm theo loại vaccine'))

  vaccine_type  số lần tiêm theo loại vaccine
0        covid                             15
1      covid19                              8
2        d.p.t                              7
3          dpt                              8
4          mmr                             21

In [ ]:
#4: LIỆT KÊ CÁC BẢN GHI CÓ DOSE BẤT THƯỜNG
df_vaccine[df_vaccine['dose_number'].isna()]

   patient_id vaccine_type  dose_number vaccination_date
13      BN501      covid19          NaN       2024-05-16
19      BN537        covid          NaN       2024-03-26
29      BN512          mmr          NaN       2024-02-21
30      BN521          mmr          NaN       2024-05-01
31      BN529        covid          NaN       2024-03-25
40      BN531          mmr          NaN       2024-01-21
45      BN517          mmr          NaN       2024-02-05
47      BN500        d.p.t          NaN       2024-05-11